body {
  font-family: 'Lato', sans-serif;
  background-color: #FFF;
}

.background {
  background-image: url('http://1.bp.blogspot.com/-jlm2xZt7Zfs/TWf1KW-OLoI/AAAAAAAAYNA/vRgX8Oh6PLQ/s1600/www.idool.net%2B-%2BFotograf%25C3%25ADas%2Bde%2Bcaballos%2B-%2BBeautiful%2Bhorses%2Bphotos%2B35.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
}

.logo{

}

body .jumbotron {
  background-color: rgb(15, 79, 226);
}

body .jumbotron h1 {
  font-family: 'Pacifico', cursive;
  color: rgb(42, 105, 24);
}
